<!-- start custom head snippets -->

<head>
    <!-- <meta name="google-signin-client_id"
        content="1079878285444-g7ga6mkumcv5qmr6bil3tp8h3kqtnhf5.apps.googleusercontent.com"> -->
    <!-- jquery -->
    <!-- chart -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->